// FONT VARIABLES

$font-primary:'Barlow Semi Condensed', sans-serif;


// COLOR VARIABLES

$bg-color: hsl(192, 100%, 9%);
$color-light: rgb(242,242,242) ;
$color-dark: rgb(2,2,2);
$color-primary: rgb(241,196,15);
