.hero {
	//height: 90vh;
	padding: 1.5rem 5.8rem;


	&__sub {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); //or 240px
		align-items: center;
		//grid-template-columns: 1.2fr 1.4fr;
		//grid-column-gap: 4rem;  //80px
	}
	
	.mockup {
		width: 70%;
		height: auto;
		border: 3px solid $color-primary;
		margin-top: 40px;
		display: block;

		animation: drop 2s ease;
	}

	&__info {
		@extend %paragraph;

		font-size: 1.3rem;
		font-weight: 100;
		letter-spacing: 0;
		margin-bottom: 2.5rem;
	}

	&__box {
		justify-self: end;
	}

	&__btn:link,
	&__btn:visited {
		padding: .7rem 1.8rem;

	}

}


@keyframes drop {
	0% {
		opacity: 0;
		transform: scale(0.5)
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

