.hero {
	//height: 90vh;
	padding: 1.5rem 5.8rem;
	


	&__sub {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); //or 240px
		align-items: center;
		grid-column-gap: 3rem;  

		margin-top: 60px;

		@include respond(tab-port) {
			grid-column-gap: 5rem; 
		}

		@include respond(phone-big) {
			grid-column-gap: 2rem;
		}

		@include respond(phone-big) {
			grid-row-gap: 10rem;
		}
	}

	&__mockup {
		margin-top: 40px;
		width: 100%;
		max-width: 400px;

		@include respond(tab-port) {
	        width: 80%;
	        justify-self: end;
	    }

		@include respond(phone-big) {
			width: 90%;
		}

		@include respond(phone-big) {
			order: 2;
			justify-self: center;
			margin-top: 0;
			width: 70%;
		}

		@include respond(phone) {
			width: 55%;
		}
	}
	
	.mockup {
		width: 100%;
		margin: 0 auto;
		box-shadow: 0 0 0 1px $color-primary;
		display: block;

		 // @include respond(tab-port) {
	  //       width: 60%;
	  //   }
	}

	&__info {
		@extend %paragraph;

		font-size: 1.3rem;
		font-weight: 100;
		letter-spacing: 0.3px;
		margin-bottom: 2.5rem;
	}

	&__box {
		justify-self: end;

		@include respond(phone-big) {
			justify-self: center;
			margin-top: 40px;

			display: flex;
			flex-direction: column;
			align-items: center;
		}
 	}

	&__btn:link,
	&__btn:visited {
		padding: .7rem 1.8rem;

	}

	//Responsive

	@include respond(tab-land) {
		padding: 1rem 3rem;
	}

	@include respond(tab-port) {
		padding: 1rem 1rem;
	}


}


/*@keyframes drop {
	0% {
		opacity: 0;
		transform: scale(0.5)
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}*/

