.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	//padding: 5px 8%;
	background-color: rgba(2,2,2, 0.8);
	box-shadow: 0 2px 2px rgba(241,196,15, 0.2) ;
	z-index: 20;

	// display: flex;
	// justify-content: space-between;
	// align-items: center;

	.logo {
		width: 60px;
		height: auto;
	}

	.header__nav {
		padding-right: 10px;
	}

	.navigation__button {
		padding-right: 10px;
	}

	
}