%heading {
	font-family: $font-primary;
	color: $color-light;
	text-transform: uppercase;
}

%paragraph {
	font-family: $font-primary;
	color: $color-light;
	margin-bottom: 1.66rem;

//this is interesting!!!
	& span {
		letter-spacing: 1px;
	}
}

.heading-primary {
	@extend %heading;
	font-size: 2.7rem;
	font-weight: 600;
	margin-block-end: 1.11rem;

	& span:first-of-type {
		
		
		letter-spacing: .08em;

	}
	& span:last-of-type {
		color: $color-primary;
		letter-spacing: 0;
		font-weight: 400;
	}

	@include respond(tab-land1) {
		font-size: 2.5rem;
	}

	@include respond(tab-port) {
		font-size: 2.1rem;
	}

}

.heading-secondary {
	@extend %heading;
	font-size: 1.66rem;
	text-align: center;
	font-weight: 600;

	display: grid;
	grid-template-columns: 3.33rem max-content 3.33rem;
    grid-column-gap: 1.5rem;
    align-items: center;
    justify-content: center;

    &::before,
	&::after {
		content: "";
		height: 2px;
		display: block;
		background-color: $color-primary;
	}

	@include respond(phone) {
		grid-template-columns: 2rem max-content 2rem;
		grid-column-gap: .9rem;
	}
}

.heading-tertiary {
	font-size: 1.33rem;
	font-weight: 600;
	text-transform: uppercase;
	color: $color-dark;
	padding-top: 2.77rem;
}